<div class="content">
  <p class="clear-margin relative">
    <strong><%= experience.title %></strong>,
    <% if !experience.employer_link.nil? %>
      <a href=<%= experience.employer_link %>>
        <%= experience.employer %>
      </a>
    <% else %>
      <%= experience.employer %>
    <% end %>
  </p>
  <p class="text-muted">
    <% if !experience.start_date.nil? %>
      <small>
        <span class="space-right">
          <%= experience.start_date.to_date.strftime("%Y-%m") %> -
          <% if !experience.end_date.nil? %>
            <%= experience.end_date.to_date.strftime("%Y-%m") %>
          <% else %>
            Present
          <% end %>
        </span>
        <i class="fa fa-clock-o">
          <%=experience.employmentLength%>
        </i>
      </small>
    <% end %>
  </p>
  <ul>
    <% experience.work_details.each do |work_detail| %>
      <li><%= work_detail.detail %></li>
    <% end %>
  </ul>
</div>
