<!DOCTYPE html>
<html>
  <head>
    <title>Personal Site</title>
    <link rel="icon" href="profile.jpg">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all'%>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', media: 'all'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="author" content="Whitney Zack">
  	<meta name="keywords" content="Whitney Zack">
  	<meta name="ROBOTS" content="INDEX, FOLLOW">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
